body {
  font: normal normal 400;
  font-size: 100%;
  line-height: 1.5em;
  /*also written as...  font: normal normal 400 100%/1.5em;*/
  font-family: Avenir, Verdana, sans-serif;
}

p {
  position: relative;
  left: 25%;
  margin-bottom: 0.7em;
  margin-right: 0;
  width: 60%;
}

p code {
  position: absolute;
  text-align: right;
  right: 0;
}

h2 {
  font-size: 1.1em;
  color: #4f3c58;
  margin-top: 0.5em;
  position: relative;
  top: 1.4em;
  text-align: right;
  width: 20%;
}

#webaddress a {
  text-decoration: none;
}

em {
  /* font-weight: bold; */
  font-style: italic;
}

#address {
  display: none;
}

/*
@media only screen and (max-width: 480px) {
	make one column somehow...
}*/
