html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */

i {
  margin-right: 0.5em;
}

code {
  font: normal normal;
  font-size: 90%;
  font-family: Monaco, Menlo, monospace, sans-serif;
  color: #aaa;
}

ul {
  position: relative;
  left: 25%;
  width: 70%;
  margin-bottom: 1.5em;
}

.list > ul {
  margin-left: 1em;
  list-style: disc;
}

li ul {
  position: relative;
  left: 0;
  width: 100%;
  margin-top: 0.25em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: Avenir, Cousine, Verdana, sans-serif;
  width: 80%;
}

#header {
  text-align: center;
  min-width: 10%;
  background-color: #322638;
}

#sergey-morozov {
  color: #f8f8f8;
  text-align: center;
}

h1 {
  padding-top: 0.5em;
  width: 100%;
  text-align: left;
  font-size: 3em;
  line-height: 1em;
  position: relative;
}

h1 + p {
  /*subtitle*/
  font-style: italic;
  font-size: 110%;
}

h3 {
  font-size: 1em;
  line-height: 2em;
  position: relative;
  top: 1.7em;
  text-align: right;
  width: 20%;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  color: rgb(141, 128, 155);
}

#webaddress {
  padding-top: 2em;
  padding-bottom: 2em;
	line-height: 2em;
  min-height: 100%;
  min-width: 100%;
  position: relative;
  color: #f8f8f8;
  font-family: Monaco, Menlo, monospace, sans-serif;
  font-size: 100%;
  width: 65%;
}

strong {
  font-weight: bold;
}
